doctype html
head
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1')
  title Login Page
  link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback')
  link(rel='stylesheet' href='../plugins/fontawesome-free/css/all.min.css')
  link(rel='stylesheet' href='../plugins/daterangepicker/daterangepicker.css')
  link(rel='stylesheet' href='../plugins/icheck-bootstrap/icheck-bootstrap.min.css')
  link(rel='stylesheet' href='../plugins/bootstrap-colorpicker/css/bootstrap-colorpicker.min.css')
  link(rel='stylesheet' href='../plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css')
  link(rel='stylesheet' href='../plugins/select2/css/select2.min.css')
  link(rel='stylesheet' href='../plugins/select2-bootstrap4-theme/select2-bootstrap4.min.css')
  link(rel='stylesheet' href='../plugins/bootstrap4-duallistbox/bootstrap-duallistbox.min.css')
  link(rel='stylesheet' href='../plugins/bs-stepper/css/bs-stepper.min.css')
  link(rel='stylesheet' href='../plugins/dropzone/min/dropzone.min.css')
  link(rel='stylesheet' href='../css/adminlte.min.css?v=3.2.0')
  link(rel='stylesheet' href='../css/checkpassword.css?v=3.2.0')

  script(nonce='e05c980b-9e93-46df-b0b9-8baa58022e11').
    (function(w,d){!function(bv,bw,bx,by){bv[bx]=bv[bx]||{};bv[bx].executed=[];bv.zaraz={deferred:[],listeners:[]};bv.zaraz.q=[];bv.zaraz._f=function(bz){return function(){var bA=Array.prototype.slice.call(arguments);bv.zaraz.q.push({m:bz,a:bA})}};for(const bB of["track","set","debug"])bv.zaraz[bB]=bv.zaraz._f(bB);bv.zaraz.init=()=>{var bC=bw.getElementsByTagName(by)[0],bD=bw.createElement(by),bE=bw.getElementsByTagName("title")[0];bE&&(bv[bx].t=bw.getElementsByTagName("title")[0].text);bv[bx].x=Math.random();bv[bx].w=bv.screen.width;bv[bx].h=bv.screen.height;bv[bx].j=bv.innerHeight;bv[bx].e=bv.innerWidth;bv[bx].l=bv.location.href;bv[bx].r=bw.referrer;bv[bx].k=bv.screen.colorDepth;bv[bx].n=bw.characterSet;bv[bx].o=(new Date).getTimezoneOffset();if(bv.dataLayer)for(const bI of Object.entries(Object.entries(dataLayer).reduce(((bJ,bK)=>({...bJ[1],...bK[1]})))))zaraz.set(bI[0],bI[1],{scope:"page"});bv[bx].q=[];for(;bv.zaraz.q.length;){const bL=bv.zaraz.q.shift();bv[bx].q.push(bL)}bD.defer=!0;for(const bM of[localStorage,sessionStorage])Object.keys(bM||{}).filter((bO=>bO.startsWith("_zaraz_"))).forEach((bN=>{try{bv[bx]["z_"+bN.slice(7)]=JSON.parse(bM.getItem(bN))}catch{bv[bx]["z_"+bN.slice(7)]=bM.getItem(bN)}}));bD.referrerPolicy="origin";bD.src="/cdn-cgi/zaraz/s.js?z="+btoa(encodeURIComponent(JSON.stringify(bv[bx])));bC.parentNode.insertBefore(bD,bC)};["complete","interactive"].includes(bw.readyState)?zaraz.init():bv.addEventListener("DOMContentLoaded",zaraz.init)}(w,d,"zarazData","script");})(window,document);
.wrapper
  nav.main-header.navbar.navbar-expand.navbar-white.navbar-light
    ul.navbar-nav
      li.nav-item
        a.nav-link(data-widget='pushmenu' href='#' role='button')
          i.fas.fa-bars
      li.nav-item.d-none.d-sm-inline-block
        a.nav-link(href='index3.html') Home
    ul.navbar-nav.ml-auto
      li.nav-item
        a.nav-link(data-widget='navbar-search' href='#' role='button')
          i.fas.fa-search
        .navbar-search-block
          form.form-inline
            .input-group.input-group-sm
              input.form-control.form-control-navbar(type='search' placeholder='Search' aria-label='Search')
              .input-group-append
                button.btn.btn-navbar(type='submit')
                  i.fas.fa-search
                button.btn.btn-navbar(type='button' data-widget='navbar-search')
                  i.fas.fa-times
      li.nav-item
        a.nav-link(data-widget='fullscreen' href='#' role='button')
          i.fas.fa-expand-arrows-alt
      li.nav-item
        a.nav-link(data-widget='control-sidebar' data-slide='true' href='#' role='button')
          i.fas.fa-th-large
          
  aside.main-sidebar.sidebar-dark-primary.elevation-4
    a.brand-link(href='index3.html')
      img.brand-image.img-circle.elevation-3(src='img/AdminLTELogo.png' alt='AdminLTE Logo' style='opacity: .8')
      span.brand-text.font-weight-light AdminLTE 3

  .content-wrapper
    .card.card-primary
      .card-header
        h3.card-title Login Page
      //- .card-body   
      //-   .form-group.col-lg-6
      //-     label UserName
      //-     input.form-control(type='text' id="usrname" name="usrname" required placeholder='Enter ...')  
      //-   .form-group.col-lg-6
      //-     label Password 
      //-     <input class="form-control" type="password" id="psw" name="psw" placeholder='abc...' pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters" required>
      //-   td
      //-     button.confirmMessage#confirmMessage.col-lg-2.btn.btn-block.bg-gradient-success.btn-lg(type='submit') Login
      //-   <div id="message">
      //-     <h3>Password must contain the following:</h3>
      //-     <p id="letter" class="valid">A <b>lowercase</b> letter</p>
      //-     <p id="capital" class="invalid">A <b>capital (uppercase)</b> letter</p>
      //-     <p id="number" class="invalid">A <b>number</b></p>
      //-     <p id="length" class="invalid">Minimum <b>8 characters</b></p>
      //-   </div>
      <div class="container" style="display:flex; align-items: center;justify-content: center;">
        <form action="/action_page.php">
          <label for="usrname">Username</label>
          <input type="text" id="usrname" name="usrname" placeholder="JustinBiaHơi...">
          <label for="psw">Password</label>
          <input type="password" id="psw" name="psw" placeholder="Abc123..." pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters" required>
          <input type="submit" value="Submit"  style="width: 20%; ">
        </form>
      </div>

      <div id="message">
        <h3>Mật khẩu phải thỏa mãn các điều kiện sau:</h3>
        <p id="letter" class="invalid">Có kí tự <b>in thường</b> (a,b,c,...)</p>
        <p id="capital" class="invalid">Có kí tự <b>in hoa</b> (A,B,C,...)</p>
        <p id="number" class="invalid">Có kí tự <b>dạng số</b> (1,2,3,...)</p>
        <p id="length" class="invalid">Tối thiểu <b>8 kí tự</b></p>
      </div>

      .card-footer
        


script(src='../plugins/jquery/jquery.min.js')
script(src='../plugins/bootstrap/js/bootstrap.bundle.min.js')
script(src='../plugins/select2/js/select2.full.min.js')
script(src='../plugins/bootstrap4-duallistbox/jquery.bootstrap-duallistbox.min.js')
script(src='../plugins/moment/moment.min.js')
script(src='../plugins/inputmask/jquery.inputmask.min.js')
script(src='../plugins/daterangepicker/daterangepicker.js')
script(src='../plugins/bootstrap-colorpicker/js/bootstrap-colorpicker.min.js')
script(src='../plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js')
script(src='../plugins/bootstrap-switch/js/bootstrap-switch.min.js')
script(src='../plugins/bs-stepper/js/bs-stepper.min.js')
script(src='../plugins/dropzone/min/dropzone.min.js')
script(src='../js/adminlte.min.js?v=3.2.0')
script(src='../js/demo.js')
script(src='../js/checkpassword.js')
script.
  $(function () {
  //Initialize Select2 Elements
  $('.select2').select2()
  //Initialize Select2 Elements
  $('.select2bs4').select2({
  theme: 'bootstrap4'
  })
  //Datemask dd/mm/yyyy
  $('#datemask').inputmask('dd/mm/yyyy', { 'placeholder': 'dd/mm/yyyy' })
  //Datemask2 mm/dd/yyyy
  $('#datemask2').inputmask('mm/dd/yyyy', { 'placeholder': 'mm/dd/yyyy' })
  //Money Euro
  $('[data-mask]').inputmask()
  //Date picker
  $('#reservationdate').datetimepicker({
  format: 'L'
  });
  //Date and time picker
  $('#reservationdatetime').datetimepicker({ icons: { time: 'far fa-clock' } });
  //Date range picker
  $('#reservation').daterangepicker()
  //Date range picker with time picker
  $('#reservationtime').daterangepicker({
  timePicker: true,
  timePickerIncrement: 30,
  locale: {
  format: 'MM/DD/YYYY hh:mm A'
  }
  })
  //Date range as a button
  $('#daterange-btn').daterangepicker(
  {
  ranges   : {
  'Today'       : [moment(), moment()],
  'Yesterday'   : [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
  'Last 7 Days' : [moment().subtract(6, 'days'), moment()],
  'Last 30 Days': [moment().subtract(29, 'days'), moment()],
  'This Month'  : [moment().startOf('month'), moment().endOf('month')],
  'Last Month'  : [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
  },
  startDate: moment().subtract(29, 'days'),
  endDate  : moment()
  },
  function (start, end) {
  $('#reportrange span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'))
  }
  )
  //Timepicker
  $('#timepicker').datetimepicker({
  format: 'LT'
  })
  //Bootstrap Duallistbox
  $('.duallistbox').bootstrapDualListbox()
  //Colorpicker
  $('.my-colorpicker1').colorpicker()
  //color picker with addon
  $('.my-colorpicker2').colorpicker()
  $('.my-colorpicker2').on('colorpickerChange', function(event) {
  $('.my-colorpicker2 .fa-square').css('color', event.color.toString());
  })
  $("input[data-bootstrap-switch]").each(function(){
  $(this).bootstrapSwitch('state', $(this).prop('checked'));
  })
  })
  // BS-Stepper Init
  document.addEventListener('DOMContentLoaded', function () {
  window.stepper = new Stepper(document.querySelector('.bs-stepper'))
  })
  // DropzoneJS Demo Code Start
  Dropzone.autoDiscover = false
  // Get the template HTML and remove it from the doumenthe template HTML and remove it from the doument
  var previewNode = document.querySelector("#template")
  previewNode.id = ""
  var previewTemplate = previewNode.parentNode.innerHTML
  previewNode.parentNode.removeChild(previewNode)
  var myDropzone = new Dropzone(document.body, { // Make the whole body a dropzone
  url: "/target-url", // Set the url
  thumbnailWidth: 80,
  thumbnailHeight: 80,
  parallelUploads: 20,
  previewTemplate: previewTemplate,
  autoQueue: false, // Make sure the files aren't queued until manually added
  previewsContainer: "#previews", // Define the container to display the previews
  clickable: ".fileinput-button" // Define the element that should be used as click trigger to select files.
  })
  myDropzone.on("addedfile", function(file) {
  // Hookup the start button
  file.previewElement.querySelector(".start").onclick = function() { myDropzone.enqueueFile(file) }
  })
  // Update the total progress bar
  myDropzone.on("totaluploadprogress", function(progress) {
  document.querySelector("#total-progress .progress-bar").style.width = progress + "%"
  })
  myDropzone.on("sending", function(file) {
  // Show the total progress bar when upload starts
  document.querySelector("#total-progress").style.opacity = "1"
  // And disable the start button
  file.previewElement.querySelector(".start").setAttribute("disabled", "disabled")
  })
  // Hide the total progress bar when nothing's uploading anymore
  myDropzone.on("queuecomplete", function(progress) {
  document.querySelector("#total-progress").style.opacity = "0"
  })
  // Setup the buttons for all transfers
  // The "add files" button doesn't need to be setup because the config
  // `clickable` has already been specified.
  document.querySelector("#actions .start").onclick = function() {
  myDropzone.enqueueFiles(myDropzone.getFilesWithStatus(Dropzone.ADDED))
  }
  document.querySelector("#actions .cancel").onclick = function() {
  myDropzone.removeAllFiles(true)
  }
  // DropzoneJS Demo Code End
